<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="false" [autoFocus]="false">
    <mat-toolbar>
      <h1 [routerLink]="['/']">Blog App {{ username() ? '- ' + username() : '' }}</h1>
    </mat-toolbar>
    <mat-nav-list>
      @if (!(oidcSecurityService.isAuthenticated() | async)) {
      <a mat-list-item (click)="login()" (keyup)="login()">Login</a>
      } @else {
      <a mat-list-item href="#" [routerLink]="['/add']">Add Blog</a>
      <a mat-list-item href="#" (click)="logout()">Logout</a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      } @else {
      <h1 [routerLink]="['/']">Blog App {{ username() ? '- ' + username() : '' }}</h1>

      @if (!(oidcSecurityService.isAuthenticated() | async)) {
      <button mat-raised-button (click)="login()">Login</button>
      } @else {
      <button mat-button (click)="logout()">Logout</button>
      <button mat-raised-button [routerLink]="['/add']">
        Add Blog
      </button>
      }
      }
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
